PORT=8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://Ayush_kumar:Ayush247874@cluster0.a323hdp.mongodb.net 
ACCESS_TOKEN_SECRET=DhBRp2EwreedHVHcjGpw8qJZroltEDxcjo7mO2mstMR4EoigHyoYpt80QiJqKcih
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=f3WUR6bS2kzFq8ejpjgkf0JIvEyaC4gDHtxRY7CkRTi1WgXlJ2AK4Qwc1wpAert4
REFRESH_TOKEN_EXPIRY=10d

# cloudnary Config key

CLOUDINARY_CLOUD_NAME=dqcehq2h2
CLOUDINARY_API_KEY=945572143993463
CLOUDINARY_API_SECRET=cbCC6yD1tn31xq0S9HcBM55fAHs
